.cards {
  padding: 4rem;
  background: #fff;
}

h1 {
  text-align: center;
}

.cards__container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
}

.cards__wrapper {
  position: relative;
  width: 100%;

}

.cards__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  /* Ensure items do not wrap to the next line */
  margin-bottom: 24px;
  max-width: 1400px;
  width: 100%;
  align-items: center;
  padding: 0;
  /* Remove default padding */
  list-style: none;
  /* Remove list item bullets */
}

.cards__item {
  flex: 1 1 auto;
  margin: 1rem;
  border-radius: 10px;
  width: 50%;
  transition: transform 0.3s ease, flex 0.3s ease;
  min-width: 0;
  /* Allow items to shrink smaller than their content */
  display: flex;
  /* Make all cards equal height */
  flex-direction: column;
  /* Ensure child elements stack vertically */
  background-color: transparent;
}

.cards__item:hover {
  transform: scale(1.3);

}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  /*box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);*/
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
  text-wrap: nowrap;
  text-align: center;
}

.cards__item__pic-wrap {
  position: relative;
  width: relative;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1600px) {
  .cards__items {
    max-width: 100px;
    width: 100%;
  }
}

@media only screen and (max-width: 2524px) {
  .cards__items {
    max-width: 1700px;
    width: 100%;
  }
}